
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.open-button {
    padding: 12px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-button:hover {
    background-color: #606263;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}


.wallet-options {
    margin-top: 20px;
}

.wallet-btn, .cancel-btn {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wallet-btn {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.wallet-btn:hover {
    background-color: #595a5a;
}

.cancel-btn {
    background-color: #000000;
    color: white;
}

.cancel-btn:hover {
    background-color: #4b4848;
}


.status {
    margin-top: 10px;
    color: #555;
    font-size: 14px;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #000;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
